* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: #EDEDE9;
}

.header {
    background-color: #CB8589;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

section[id] {
    scroll-margin-top: 90px;
}

html {
    scroll-behavior: smooth;
}

/*navbar*/

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background-color: #D7B29D;
    transition: 0.5s;
    color: #000000;
}


/* TOGGLE */
.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

.fas {
    filter: invert(1);
}

/*menu hyamburguesa*/

.topheader {
    box-shadow: 0 4px 5px var(--navbar-shallow-color);
    position: fixed;
    background-color: var(--theme-color);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

.topnav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;

}

.logo img {
    border-radius: 50%;
}

/* Menu */
.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a {

    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
    position: relative;
}

.menu a::after {
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    left: 0;
    top: calc(100% + 4px);
    width: 100%;
    height: 4px;

    opacity: 0;
    transition: opacity 0.3s;
}

.menu a.selected::after,
.menu a:hover::after {
    opacity: 0.8;
}

.menu a:hover {
    color: var(--primary-color);
}

.open-menu,
.close-menu {
    display: none;
}


/*Mobile*/
@media (max-width: 768px) {

    body {
        padding-top: 70px;
    }

    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--menu-mobile-background-color);
        height: 100%;
        overflow-y: auto;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }

    .menu li {
        padding: 0;
    }

    .menu a {
        color: var(--text-color-inverse);
        line-height: 70px;
        font-size: 20px;
    }

    .open-menu,
    .close-menu {
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .close-menu {
        align-self: flex-end;
        padding: 20px 15px;
    }

    .menu_opened {
        opacity: 1;
        pointer-events: all;
        background-color: #CD8987;
    }

    .open-menu:focus:not(:focus-visible),
    .close-menu:focus:not(:focus-visible) {
        outline: none;
    }

    .menu a::after {
        content: none;
    }

    .menu a:hover,
    .menu a.selected {
        color: var(--secondary-color);
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .header {
        height: 70px;
    }
}

/*servicios*/
/*boda*/

.cajaboda {
    background-color: #565264;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.imgboda1 {
    width: 300px;
    height: 450px;
}

.tcaja {
    margin: 30px;
    color:white;
}

.textoboda {
    margin: 35px;
}

.imgrandom {
    margin-top: 10px;
    margin-bottom: 10px;
}